[submodule "gomicroservice"]
	path = gomicroservice
	url = git@github.com:moonorange/gomicroservice.git
[submodule "go_saga"]
	path = go_saga
	url = git@github.com:moonorange/go_saga.git
[submodule "go_csv"]
	path = go_csv
	url = git@github.com:moonorange/go_generate_csv.git
[submodule "go_api"]
	path = go_api
	url = git@github.com:moonorange/go_api.git
